// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 !important;
}

.status_tag { background: lightblue; color: black; padding: 4px 8px; }

.status_tag.invalide {
  background: #b71c1c !important;
  color: white !important;
  padding: 4px 8px;
}


.badge-success {
    background-color: #1b5e20;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
}

.badge-danger {
    background-color: #b71c1c;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
}

.status_tag.scoring-stroke_play {
  background: yellow;
  color: black;
}

.status_tag.scoring-stableford {
  background: lightgreen;
  color: black;
}

body.active_admin {
    form {

        input[type='text'][size],
        input[type='number'][size] {
            width: auto;
        }
    }

    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='number'],
    input[type='url'],
    input[type='tel'],
    label,
    select,
    th,
    td,
    legend,
    textarea {
        font-size: 1.1em;
        /* Adjust font size as needed */
    }

    table {
        border-collapse: collapse;
        width: auto;
        table-layout: auto;
        // border: 1px solid #ccc;
    }

    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
    }
}

tbody td {
    vertical-align: middle;
}
.text-left {
    text-align: left !important;
}

.header-item {
    font-size: 1.2em;
}

#page_title {
    font-size: 2em !important;
}

.panel h3 {
    font-size: 1.5em;
    /* Adjust font size as needed */
}

.panel-table-subtitre {
    font-size: 1.2em;
    /* Adjust font size as needed */
    font-weight: bold;
    margin-bottom: 5px;
    background-color: rgb(245, 245, 166);
    padding: 3px;
}

.hide {
    display: none !important;
}

// td, th {
//     color: green;
//     font-size: 1.5em;
// }

.bloc-teebox {
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 10px;
}

.bloc-teebox-span {
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 20px;
}

.bloc-agecat {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

// Menu buttons styling
.button-group {
    margin-bottom: 30px;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: sticky;

    .menu-button {
        padding: 10px 16px !important;
        background-color: #1e88e5;
        color: white !important;
        text-decoration: none !important;
        border-radius: 4px !important;
        font-weight: 500 !important ;
        border: none !important;
        cursor: pointer !important;
        display: inline-block !important;
        text-align: center !important;

        &:hover {
            background-color: #1565c0;
            text-decoration: none;
        }
    }

    .menu-button.is-active {
        background-color: #0d47a1;
    }

    .menu-button-status {
        background-color: darkred;
    }
    .menu-button-status.is-active {
        background-color: #b71c1c;
    }
}

.flex-container {
    display: flex;
    gap: 10px;
}