// Sassy

.main-menu-div {
    background-color: lightblue;
    padding: 5px;
}

.badge-success {
    background-color: #1b5e20;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
}

.badge-danger {
    background-color: #b71c1c;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
}
