.btt {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0px !important;
    font-family: Arial;
    padding: 5px;
    text-decoration: none !important;
    font-weight: normal !important;
}
.submit-button {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0px !important;
    font-family: Arial;
    padding: 5px;
    text-decoration: none;
    background-color: #007bff !important;
    color: white !important;
    font-weight: bold;
}

.btt-add {
    color: #ffffff !important;
    background: darkblue !important;
}

.btt-edit {
    color: #ffffff !important;
    background: darkgreen !important;
}

.btt-cancel {
    color: #ffffff !important;
    background: darkred !important;
}

.btt-disabled {
    background: #747474 !important;
    color: #888 !important;
    cursor: not-allowed !important;
}

.btt-close {
    color: #ffffff !important;
    background: black !important;
}

.btt-open {
    color: #ffffff !important;
    background: darkgreen !important;
}

.btt-scoring {
    color: #ffffff !important;
    background: darkmagenta !important;
}

.btt-start-list {
    color: #ffffff !important;
    background: rgb(153, 57, 2) !important;
}

.btt-config-teetimes {
    color: #ffffff !important;
    background: rgb(17, 2, 153) !important;
}

.table-btn-action {
    display: flex;
    flex-direction: row;
    gap: 5px;
}