.entry-item, .slot-item, .team-item {
    margin-bottom: 8px;
    padding: 6px 8px;
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.team-item {
    background-color: #e6f7e6;
}
.entry-item {
    background-color: lightyellow;
}
.slot-item--occupied {
    background-color: #e6f7e6; // light green
}
.slot-item--empty {
    background-color: #fdeaea; // light red
}